.App {
  text-align: center;
}

.user-list {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.user-card {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  margin: 20px;
  text-align: left;
  padding: 20px;
}